.more {
  position: absolute;
  top: 50px;
  z-index: 10000;
  background: rgb(4, 116, 28);
  width: 400px;
  left: -300px;
  padding: 15px 20px;
  border-radius: 15px;
}

.more_title {
  color: white;
  margin-bottom: 5px;
}

.more_result, .more_total {
  color: white;
}

.more_buy {
  float: right;
  background: rgba(109, 105, 105, 0.452);
  font-size: 14px;
  margin-top: 15px;
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.more_buy:hover {
  color: azure;
  background: black;
}
